@model Routine_Manage.Models.ClassRoutine

@{
    Layout = "~/Views/Shared/_Registry_layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClassRoutine</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Serial" />
        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CStageNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CStageNavigation.CStage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomNoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomNoNavigation.RoomNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SCodeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SCodeNavigation.SName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
