@model Routine_Manage.Models.ClassRoutine

@{
    Layout = "~/Views/Shared/_Registry_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ClassRoutine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CStageNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CStageNavigation.CStage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomNoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomNoNavigation.RoomNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SCodeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SCodeNavigation.SName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Serial">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
