@model IEnumerable<Routine_Manage.Models.ClassRoutine>

@{
    Layout = "~/Views/Shared/_Registry_layout.cshtml";
}
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CStageNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCodeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CStageNavigation.CStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNoNavigation.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCodeNavigation.SName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Serial">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Serial">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Serial">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
