@model IEnumerable<Routine_Manage.Models.ClassRoutine>

@{
    ViewData["Title"] = "ClRoutine";
    Layout = "~/Views/Shared/_Student_Loyout.cshtml";
}


                      <h2>Class Routine</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CStageNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCodeNavigation)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCode)
            </td>
           
        </tr>
}
    </tbody>
</table>
