@model Routine_Manage.Models.Subject

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.T.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
